@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
	background-color: #330d00;
}

h1 {
	color: #ffa366;
	font-family: 'Poiret One', cursive;
}

p {
	color: #ffa366;
}

footer {
	color: black;
	font-family: 'Poiret One', cursive;
	font-weight: 600;
	background-color: #cfe9fc;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: fixed;
	width: 100%;
}

nav {
	font-family: 'Poiret One', cursive;
	font-weight: 800;
	font-size: 20px;
}

form, label {
	color: #ffa366;
	font-weight: 600;

}

.opaque {
	opacity: 0.4;
}

.container {
	position: relative;
  	text-align: center;
  	/*color: white;*/
}

.right-text {
	position: absolute;
 	top: 45%;
  	left: 65%;
  	transform: translate(-50%, -50%);
  	font-weight: 800;
}


.imgborder {
	border: 5px solid #ffa366;
}

button, a {
	color: white;
}

ul {
	text-decoration: none;
	list-style-type: none;
}
li {
	color: #ffa366;
	font-weight: 400;
	list-style-type: none;
	text-align: center;
	/*padding: 5px;*/
	
}

iframe.resume {
	width: 100%;
	height: 1100px;
	background-color: #404040;
}