@font-face{
	font-family: "emerald";
	src: url("../portfolio/font/Bespoke-PJ6c3792KH.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

body {
	background-color: #000000; /*black*/
	font-family: "emerald";
	background-image: url(image/flowers_wallpaper.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;

}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

.showcase {
	background-image: url("image/flowers_wallpaper.jpg");
	background-size: cover;
	background-position: center;
	height: 100%;
	position: relative;
}

h1 {
	color: #ffa366; /*light orange*/
	font-family: "emerald";
	font-size: 36px;	
}

h2 {
	color: #ffa366; /*light orange*/
}

p {
	color: #99ddff; /*lightblue*/
	line-height: 40px;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 24px;
	font-family: 'Antic Slab', serif;
}

.centerButton {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Antic Slab', serif;
  background-color: #ff8533; /*orange*/
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.textcenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 20px;

}

#flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: auto;

}


.center {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
  	width: 50%;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	margin-bottom: 2%;
	padding: 14px 0px;
	background-color: #99ddff;
}
.nav {
	display: inline;
	font-family: "emerald";
}

.navlink {
	text-decoration: none;
	color: black;
	padding: 14px 16px;
	text-align: center;
}
li a.navlink:hover {
	background-color: white;
}

/*.centerimg {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
  	
}*/
.projimg {
	margin-top: 5%;
	border: 10px double white;
}

.bioimg {
	float: left;
	border: 10px double #ffa366; /*light orange*/
	margin-right: 10px;
}

hr {
	border-radius: 5px;
	border-top: 1px solid #ffb833;
	width: 45%;
}
ul.stylelist {
	list-style-type: none;
}
a.list {
	color: black;
	font-family: 'Antic Slab', serif;
	font-size: 24px;
	text-decoration: underline overline wavy #ffb833;
}

#name {
	font-size: 40px;
}

footer {
	color: #99ddff;
	/*padding-top: 5px;*/
	font-family: 'Antic Slab', serif;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: fixed;
}

.logo {
	float: right;
	margin-top: -15px;
	margin-bottom: -15px;
}

/*contact form*/
.container {
	border: 1px solid #ffa366; /*light orange*/
	padding: 20px;
}

input[type=text], [type=email], [type=password], textarea {
	width: 100%;
	border: 1px solid #cc5200; /*dark brown*/
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 15px;
}

input[type=submit] {
	border-radius: 5px;
	font-family: 'Antic Slab', serif;
	font-size: 15px;
	background-color: #ff8533; /*orange*/
  	border: none;
  	color: white;
  	padding: 5px 5px;
  	text-align: center;
  	text-decoration: none;
}
label {
	font-size: 20px;
	font-family: 'Antic Slab', serif;
	color: #ffa366; /*light orange*/
}

.grid {
	display: grid;
	grid-template-columns: auto auto;
	padding: 5px 5px;
   	margin: 5px 5px;
}

.grid-item {
	padding: 5px 5px;
   	margin: 5px 5px;
}

@media only screen and (max-width: 700px) {
	.grid {
	display: grid;
	grid-template-columns: auto;
	padding: 5px 5px;
   	margin: 5px 5px;
}

.grid-item {
	padding: 5px 5px;
   	margin: 5px 5px;
}

}