@font-face{
	font-family: "emerald";
	src: url("../portfolio/font/Bespoke-PJ6c3792KH.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

body {
	/*background-color: #02075d;*/
	background-color: black;
	font-family: "emerald";

}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.showcase {
	background-image: url("image/flowers_wallpaper.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	position: relative;
}

h1 {
	color: #ff8533;
	font-family: "emerald";
	font-size: 36px;	
}

h2 {
	color: #ffb833;
}

p {
	color: #99ddff; /*lightblue*/
	line-height: 40px;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 24px;
	font-family: 'Antic Slab', serif;
}

.centerButton {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Antic Slab', serif;
  background-color: #ff8533;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.textcenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 20px;

}

#flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: auto;

}


.center {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
  	width: 50%;
}

ul.navbar {
	list-style-type: none;
	margin: 0;
	margin-bottom: 2%;
	padding: 14px 0px;
	background-color: #99ddff;
}
.nav {
	display: inline;
	font-family: "emerald";
}

.navlink {
	text-decoration: none;
	color: black;
	padding: 14px 16px;
	text-align: center;
}
li a.navlink:hover {
	background-color: white;
}

/*.centerimg {
	display: block;
  	margin-left: auto;
 	margin-right: auto;
  	
}*/
img {
	margin-top: 5%;
	border: 10px double white;
}

.bioimg {
	float: left;
}
hr {
	border-radius: 5px;
	border-top: 1px solid #ffb833;
	width: 45%;
}
ul.stylelist {
	list-style-type: none;
}
a.list {
	color: black;
	font-family: 'Antic Slab', serif;
	font-size: 24px;
	text-decoration: underline overline wavy #ffb833;
}

#name {
	font-size: 40px;
}

footer {
	color: #99ddff;
	/*padding-top: 5px;*/
	font-family: 'Antic Slab', serif;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
	position: absolute;
}