@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
	background-color: #1a001a; /*dark purple*/
}

@media screen and (max-width: 480px) {
	#aboutme-list {
		padding-top: 350px;
		padding-left: 10px;
	}

	#aboutme-img {
		padding-left: 10px;
	}

	#aboutme-info {
		padding-left: 10px;
	}
}

#aboutme-img {
	padding-left: 20%;
}

#aboutme-list {
	/*padding-left: 35%;
	padding-top: 2%;*/
}

#aboutme-info {
	/*padding-left: 35%;
	padding-right: 10%;
	padding-bottom: 20px;*/
}

.bg-dark-purple {
	background-color: #1a001a;
}

.bg-gray {
	background-color: #808080;
}

.navbar-light .navbar-nav .nav-link {
	font-weight: 600;
}
.bg-dusk {
	background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("image/dusk.png");
}


h1 {
	color: #4d004d;
	font-family: 'Poiret One', cursive;

}

p {
	color: #4d004d; /*purple*/
}

#p-intro {
	font-size: 25px;
	font-weight: 400;
}

#p-dark {
	font-size: 20px;
	color: white;
}

footer {
	color: white;
	font-family: 'Poiret One', cursive;
	font-weight: 600;
	/*font-weight: 300;*/
	background-color: #ffa366;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: relative;
	width: 100%;
	overflow: hidden;
}

#footer-links {
	color: white;
	padding-right: 10px;
	font-size: 20px;
	text-decoration: none;
}

#footer-links:hover {
	/*box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1), 0 6px 20px 0 rgba(255, 255, 255, 0.1);*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#div-links {
	float:right;
	margin-left: 10px;
	padding-top: 30px;
	padding-left: 5%;
	height: 130px;
}

#p-trademark {
	float:right;
	color: white;
	padding-right: 10px;
}

nav {
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	font-size: 20px;
}

form, label {
	color: #4d004d;
	font-weight: 600;

}

.opaque {
	opacity: 0.4;
}

.container {
	position: relative;
  	text-align: center;
  	/*color: white;*/
}

.weight-text {
  	font-weight: 800;
}

/*images*/

#img-position {
	float: left; 
	margin-right: 10px;
}

.imgborder {
	border: 5px solid #4d004d;
}
/*Buttons*/

button, a {
	color: #1a001a; /*dark purple*/
}

button, a:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#button:hover {
	text-decoration: none;
	color: white;
}


ul {
	text-decoration: none;
	list-style-type: none;
}

ul.center {
	display: table; 
    margin: 0 auto;
   	text-decoration: none;
	list-style-type: none;
}
li {
	color: #ffa366;
	font-weight: 500;
	list-style-type: none;
	text-align: center;
	/*padding: 5px;*/
	
}
 


input[type=submit] {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

iframe.resume {
	width: 75%;
	height: 1070px;
	/*background-color: #404040;*/
	justify-content: center;
}

iframe.cert {
	width: 50%;
	height: 525px;
	justify-content: center;
	margin-bottom: 15px;
}

#h1-intro {
	font-size: 50px; 
	color: #4d004d;
	text-shadow: 2px 2px 3px gray;

}

#h1-intro-dark {
	font-size: 50px; 
	color: #ffe6ff;
	text-shadow: 2px 2px 3px gray;

}

#h1-aboutme {
	padding-top: 2%; 
	padding-bottom: 2%;
	color: #1a001a;
	font-weight: 600;
	text-shadow: 2px 2px 3px gray;
}

#h1-resume {
	padding-top: 2%; 
	padding-bottom: 2%; 
	color: #ffe6ff; 
	font-weight: 600;
	text-shadow: 2px 2px 3px gray;
}

#h1-contact {
	padding-top: 2%; 
	padding-bottom: 2%; 
	color: #1a001a; 
	font-weight: 600;
	text-shadow: 2px 2px 3px gray;
}